{% import '_includes/forms' as forms %}

{{ forms.textField({
    label: 'View Key'|t,
    instructions: 'If you have multiple view types on the same element, specify a unique key here. <a href="https://www.doublesecretagency.com/plugins/view-count/docs/using-a-unique-key" target="_blank">Read more...</a>'|t,
    id: 'viewKey',
    name: 'viewKey',
    value: settings.viewKey,
    class: 'code',
}) }}

<p>This fieldtype is <strong>read-only</strong>. It will display the total views for each element. <a href="https://www.doublesecretagency.com/plugins/view-count/docs/total-views-fieldtype" target="_blank">Learn more...</a></p>
